/*loading  end */

.loadings{
 font-size: xx-large;
 margin-top:13%;
 font-weight: 900;
 	
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/icons/Preloader_8.gif) center no-repeat #fff;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.v-bottom{position:absolute;bottom:30px;}
/*loading  end */

.slider-nav{
	background-image: url(../img/icons/dot.gif) center repeat-x;
}